<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/home}">
<head>
    <title>Sign Up</title>
    <script type="text/javascript" th:src="@{/scripts/signup.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(() => {
            const step = [[${step}]];
            document.getElementById("users").value = JSON.stringify([[${users}]]);
            nextStep(step);
        });
    </script>
</head>
<body>
    <div layout:fragment="content">
        <form class="form" th:action="@{/auth/signup}" action="#" method="post" id="myForm">
            <input type="hidden" id="users">
            <div id="1" class="container m-auto w-25 p-4" style="display: none;background-color: rgba(247, 244, 244, 0.986);margin-top: 100px !important;">
                    <h3 class="text-center" style="color: #9A00C0;">CREATE A FREE ACCOUNT</h3>
                    <h6 class="text-center" style="color: #9A00C0;">Sign up with</h6>
                    <a role="button" type="button" th:href="@{/oauth2/authorization/google}" class="btn btn-danger w-100"><i class="fa fa-google-plus" aria-hidden="true"></i> continue with google</a>
                    <h6 class="text-center" style="color: #9A00C0;">or with</h6>
                    <div class="form-group">
                        <div th:unless="${isOAuth2}">
                            <label for="username" style="color: rgba(146, 145, 145, 0.692);">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" required minlength="3" maxlength="50">
                        </div>
                    </div>
                    <p id="message1" style="color: red"></p>
                    <button type="button" onclick="isExistUsername();" class="btn btn-success w-100" style="background-color: #9C39FF; border-color: #9C39FF;">Next</button>
                    <div style="text-align: center; margin-top: 10px;">
                        <a style="color: #9A00C0;">Have an account?</a>
                        <a role="button" type="button" th:href="@{/auth/login}" class="btn btn-success" style="background-color: #9C39FF; border-color: #9C39FF;">Log in</a>
                    </div>
            </div>

            <div id="2" class="container m-auto w-25 p-4" style="display: none;background-color: rgba(247, 244, 244, 0.986);margin-top: 100px !important;">
                    <h3 class="text-center" style="color: #9A00C0;">CONTINUE TO CREATE FREE ACCOUNT</h3>
                    <h6 class="text-center" style="color: #9A00C0;"><i class="fa fa-check-circle" aria-hidden="true"></i></h6>
                    <div class="form-group">
                        <div th:if="${isOAuth2}">
                            <label for="nameOAuth2" style="color: rgba(146, 145, 145, 0.692);">Name:</label><br>
                            <input type="text" name="name" id="nameOAuth2" class="form-control" th:value="${name}">
                            <input type="hidden" name="email" id="email" class="form-control" th:value="${email}">
                        </div>

                        <div th:unless="${isOAuth2}">
                            <label  for="name" style="color: rgba(146, 145, 145, 0.692);">Name:</label><br>
                            <input  type="text" name="name" id="name" class="form-control" required>
                            <label for="password" style="color: rgba(146, 145, 145, 0.692);">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required minlength="8">
                        </div>
                    </div>
                    <p id="message2" style="color: red"></p>
                    <button type="button" onclick="checkRequired(3, ['name', 'password']);setAuthType('local')" class="btn btn-success w-100" style="background-color: #9C39FF; border-color: #9C39FF;">Next</button>
            </div>

            <div id="3" class="container text-center p-5" style="display: none;">
                <div class="form-check form-check-inline">
                    <img th:src="@{/images/student.png}" class="img-fluid p-5" alt="student" src="">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="role"
                            id="student"
                            value="STUDENT"
                            required/>
                    <label class="form-check-label" for="student">Student</label>
                </div>

                <div class="form-check form-check-inline">
                    <img th:src="@{/images/teacher.png}" class="img-fluid p-5" alt="teacher" src="">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="role"
                            id="teacher"
                            value="TEACHER"
                    />
                    <label class="form-check-label" for="teacher">Teacher</label>
                </div>
                <input name="authType" value="google" id="authType" type="hidden"/>

                <div style="text-align: center; margin-top: 10px;">
                    <button type="submit" class="btn btn-success" style="background-color: #9C39FF; border-color: #9C39FF;">Complete</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>