<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/home}">
<head>
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <link rel="stylesheet" th:href="@{/css/library.css}">
    <script th:src="@{/scripts/edit-profile.js}"></script>
    <title>Setting</title>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(() => {
            const quizHadImage = !($("#output-quiz").attr('src') === "");
            console.log(quizHadImage)
            $("#btn-close-quiz-editor").click(function () {
                const form = document.getElementById("form-editor-quiz");
                form.style.display = "none";
                form.reset();
                $("#output-quiz").attr('src', '');
                handleOutputImage();
            })
            $("#image-title-quiz").change(function () {
                $('#output-quiz').attr("src",window.URL.createObjectURL(this.files[0]));
                $("#label-output-quiz").show()
            })
            const handleOutputImage = () => {
                // console.log(!($("#output-quiz").attr('src') === ""))
                const lableOutputQuiz = $("#label-output-quiz")
                if (!($("#output-quiz").attr('src') === "")) {
                    lableOutputQuiz.show()
                } else {
                    lableOutputQuiz.hide()
                }
            }
            $(function (){
                handleOutputImage();
            })
        });


    </script>
</head>
<body>
<div layout:fragment="content">
    <section id="tabs">
        <nav>
            <div class="navbar navbar-expand-lg navbar-light" style="background-color: #8C2B88;">
                <a class="navbar-brand text-white ml-3" th:href="@{/home}">SixQuiz</a>
                <div class="nav nav-tabs nav-fill" role="tablist" style="border-bottom: none;">
                    <a class="nav-item nav-link active" th:href="@{/home}"  aria-controls="nav-home" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    <a class="nav-item nav-link"  aria-controls="nav-act" aria-selected="false"><i class="fa fa-clock-o" aria-hidden="true"></i> Activity</a>
                    <div sec:authorize="isAuthenticated()" style="margin-left: 20px">
                        <a th:if="${user.getRole().equalsIgnoreCase('TEACHER')}" th:href="@{/dashboard}" class="btn btn-primary pl-4 pr-4" style="background-color: #500030;border-color: #500030;border-radius: 10px;"><i class="fa fa-plus-circle" style="margin-right: 5px" aria-hidden="true"></i>Dashboard </a>
                        <a th:unless="${user.getRole().equalsIgnoreCase('TEACHER')}" th:href="@{/editor-quiz/create}" class="btn btn-primary pl-4 pr-4" style="background-color: #500030;border-color: #500030;border-radius: 10px;"><i class="fa fa-plus-circle" style="margin-right: 5px" aria-hidden="true"></i> Create</a>
                    </div>
                </div>
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input id="search-input" class="form-control" style="border-radius: 5px;width: 600px;" type="search" placeholder="Search" aria-label="Search">
                    <div class="form-group m-0">
                        <!--<select class="form-control" style="margin-left: 5px;">
                            <option th:each="subject: ${subjects}" th:value="${subject.getName()}" th:text="${subject.getName()}"></option>
                        </select>-->
                    </div>
                    <button id=btnSearch type="submit">Search</button>
                </form>
                <div class="nav-item dropdown ml-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user text-white" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a th:if="${user.getRole().equalsIgnoreCase('TEACHER')}" th:href="@{/dashboard/library}" class="dropdown-item" >My Library</a>
                        <a th:unless="${user.getRole().equalsIgnoreCase('TEACHER')}" th:href="@{/home/profile}" class="dropdown-item" >Profile</a>
                        <a th:unless="${user.getRole().equalsIgnoreCase('TEACHER')}" th:href="@{/home/setting}" class="dropdown-item" >Setting</a>
                        <a class="dropdown-item" th:href="@{/auth/logout}">Log out</a>
                    </div>
                </div>
                <a sec:authorize="isAuthenticated()" href="#"><i class="fa fa-bell text-white ml-2 mr-3" aria-hidden="true"></i></a>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;">
                <div>
                    <div class="header-profile" style="position: relative;">
                        <div style="display: flex">
                            <div class="infor-basic" >
                                <div>
                                    <img style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="ava-profile" th:src="${user.getAvt()}"/>
                                </div>
                                <h1 class="name-profile" th:text="${user.getName()}"></h1>
                                <h1 class="username-profile" th:text="${user.getUsername()}"></h1>
                                <h1 class="username-profile" th:text="${user.getEmail()}"></h1>
                                <h1 class="teacher" th:text="${user.getRole()}"></h1>
                            </div>
                        </div>

                        <div>
                            <button type="button" id="btn-edit" onclick="editProfile()">
                                <i class="far fa-edit" style="margin-right: 5px"></i>Edit profile
                            </button>
                            <!-- -----dialog---- -->
                            <dialog id="edit-profile">
                                <div>
                                    <p style="font-size: 20px;color: #9c1fc9;"><i class="fas fa-user-edit" style="margin-right: 5px;font-size: 35px;"></i>Edit profile</p>
                                </div>
                                <form th:action="@{~/quiz/profile/update}" method="post" enctype="multipart/form-data">
                                    <hr>
                                    <div>
                                        <!--/*@thymesVar id="Urlimg" type=""*/-->
                                        <div class="file-upload" >
                                            <div style="margin-top: 20px;">
                                                <p style="color: #6B3E8E;">Add a avatar</p>
                                                <input type="file" name="fileAva" accept="image/*" id="image-title-quiz" hidden/>
                                                <div style="position: relative; width: 100%;">
                                                    <label for="image-title-quiz" style="position: absolute; height: 175px; background-color: rgb(236, 235, 235);padding: 20px;width: 100%;text-align: center;border: 1px dashed black; border-radius: 10px;"><img style="position: absolute; top: 50%;  left: 50%;transform: translate(-50%, -50%);width: 30%; height: 50%" class="output-image" th:src="${user.getAvt()}" alt="" src=""><br></label>
                                                    <label id="label-output-quiz" for="image-title-quiz" style="position: absolute; height: 175px; background-color: rgb(236, 235, 235);padding: 20px;width: 100%;text-align: center;border: 1px dashed black; border-radius: 10px;"><img style=" position: absolute; top: 50%;  left: 50%;transform: translate(-50%, -50%);width: 30%; height: 50%" class="output-image" id="output-quiz" alt="" th:src="${user.getAvt()}"><br></label>
                                                </div>
                                            </div>
                                            <div class="file-upload-content">
                                                <img class="file-upload-image" src="#" alt="your image" />
                                                <div class="image-title-wrap">
                                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div style="color: #9e9e9e;margin-top: 35%;">
                                        <p><i class="fas fa-user" style="margin-right: 5px"></i>Account information</p>
                                        <p>Name</p>
                                        <input type="text" id=edit-firstname name="name" th:value="${user.getName()}">
                                    </div>
                                    <hr>
                                    <div style="color: #9e9e9e;">
                                        <p><i class="fas fa-book" style="margin-right: 5px"></i>Bio</p>
                                        <textarea style="width: 100%" name="bio" th:text="${user.getBio()}" ></textarea>
                                    </div>
                                    <hr>
                                    <div style="color: #9e9e9e;">
                                        <p><i class="fas fa-graduation-cap" style="margin-right: 5px"></i>Grade</p>
                                        <p>Select a grade you teach</p>
                                        <div class="menu-grade">
                                            <select required class="form-control" id="from-grade" name="grade">
                                                <option value="" disabled selected>Grade</option>
                                                <option th:each="grade : ${grades}" th:value="${grade.getId()}" th:text="${grade.getId()}"
                                                        th:selected="${grade.getId().equalsIgnoreCase(user.getGrade())}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="btn-footer" style="display:flex;">
                                        <div id=cancel onclick="canceleditPro()" style="margin-right: 10px">Cancel</div>
                                        <button id=save type="submit">Save</button>
                                    </div>
                                    <br>
                                </form>

                            </dialog>
                            <!-- -----dialog---- -->
                        </div>
                    </div>
<!--                    <div class="menu-btn">-->
<!--                        <div class="btn-profile">-->
<!--                            <div>-->
<!--                                <button type="button" id="btn-quizzes">Quizzes</button>-->
<!--                            </div>-->
<!--                            <div class="infor-basic">-->
<!--                                <button type="button" id="btn-collections">Collections</button>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <button type="button" id="btn-memes">Memes</button>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
                </div>
            </div>
        </nav>
    </section>
</div>